<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comments Page</title>
  </head>
  <body>
    <form method="post" action="/comments">
      <h1>Comments Page</h1>

      <p>Join the conversation!</p>
      Enter your name
      <input type="text" name="name" required />

      <br />

      <p>Enter your comment</p>
      <textarea name="comment" required></textarea>

      <br />

      <button>Submit</button>

      <hr />

      <h1>Current Conversation</h1>
      <p style="white-space: pre-wrap">{{text}}</p>
    </form>
  </body>
</html>
